}@charset "UTF-8";
body {
  font-family:Arial; 
}
h2 {
  color:black;
  text-decoration: none;
  font-size:25px;
  text-align: center;
}


#mainbox{
  font-size: 15px;
  cursor:pointer;
  transition: all .6s;
}
.sidemenu{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:0px;
  background-color:#222;
  z-index: 1;
  padding-top: 100px;
  overflow-x:hidden;
  transition: all .5s;
}

.sidemenu a{
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size:15px;
  color: #999;
  display:block;
  text-align: center;
}

.sidemenu a:hover{
  color: white;
}

.sidemenu .closebtn{
  position: absolute;
  top: 0px;
  right:25px;
  font-size:36px;
  margin-left:32px;
}

h5{
  text-align: center;
  font-size: 30px;
}

/* DigitalDesign Page*/




/* LAB 5 */

.box{
    width:500px;
    border-style: groove;
    border-width: 20px;
    border-radius: 5px; 
    border-color:#000000 #404040 #676767 #8C8C8C;
    color:black;
    text-shadow: 1px 2px;
    margin: auto;
   
}

img {
  display: block;
  max-width: 25%;
  margin: auto;
}


p:hover{
  color: black;
  text-shadow: none;
  
}
  

   
  
   


