body {
  font-family:Arial; 
}
h2 {
  color:black;
  text-decoration: none;
  font-size:25px;
  text-align: center;
}


#mainbox{
  font-size: 15px;
  cursor:pointer;
  transition: all .6s;
}
.sidemenu{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:0px;
  background-color:white;
  outline:solid 1px;
  z-index: 1;
  padding-top: 100px;
  overflow-x:hidden;
  transition: all .5s;
}

.sidemenu a{
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size:15px;
  color: black;
  display:block;
  text-align: center;
}

.sidemenu a:hover{
  text-decoration: underline;
}

.sidemenu .closebtn{
  position: absolute;
  top: 0px;
  right:25px;
  font-size:36px;
  margin-left:32px;
}

h5{
  text-align: center;
  font-size: 30px;
}

/* DigitalDesign Page*/




/* LAB 5 */

.box{
    width:500px;
    border-style: groove;
    border-width: 20px;
    border-radius: 5px; 
    border-color:#000000 #404040 #676767 #8C8C8C;
    color:black;
    text-shadow: 1px 2px;
    margin: auto;
   
}

img {
  display: block;
  max-width: 25%;
  margin: auto;
}


p:hover{
  color: black;
  text-shadow: none;
  
}
/* QUIZ*/

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #ff6666;
    border:4px solid  #ffe6e6;
    border-radius:5px;
    box-shadow: 5px 5px 5px #888;
    color: #FFFFFF;
    font-weight: bold;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button:hover{
  color:white;
  background-color:white;

}


button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}
  

   
  
   


